<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Optimizando Rails</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Alter Lagos">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/custom.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <h1>Optimizando Rails</h1>
          <p>Por Alter Lagos</p>
          <p>
            <a href="http://twitter.com/nomesigaporfa">
            	<small>@nomesigaporfa</small>
            </a>
          </p>
        </section>

        <section>
          <h2>Sistema de ejemplo</h2>
          <img src="images/1.png">
          <p>
            <a href="https://github.com/alagos/optimizando_rails">
              github.com/alagos/optimizando_rails
            </a>
          </p>
        </section>
<!--
  -  SECCION ACTIVE RECORD
 -->
        <section>
          <h2>Active Record</h2>
          <h3>Queries N+1</h3>
          <pre><code contenteditable >
  @countries = Country.all
          </code></pre>
          <pre><code contenteditable>
  <% @countries.each do |country| %>
    &lt;tr&gt;
      &lt;td&gt;<%= country.name %>&lt;/td&gt;
      &lt;td&gt;<%= country.iso %>&lt;/td&gt;
      <% if !country.states.blank? %>
        &lt;td&gt;<%= country.states.count %>&lt;/td&gt;
        &lt;td&gt;<%= country.states.first.name %>&lt;/td&gt;
      <% end %>
    &lt;/tr&gt;
  <% end %>
          </code></pre>
        </section>

        <section class="big_section">
          <h2>Active Record</h2>
          <h3>Queries N+1</h3>
          <pre class="big_code"><code contenteditable>
Started GET "/" for 127.0.0.1 at 2012-11-25 20:24:53 -0300
Processing by CountriesController#index as HTML
  Country Load (0.4ms)  SELECT `countries`.* FROM `countries` 
  State Load (0.7ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 1
   (0.6ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 1
  State Load (0.8ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 2
   (0.7ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 2
  State Load (0.8ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 3
   (0.5ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 3
  State Load (0.6ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 4
   (0.6ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 4
  State Load (0.6ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 5
   (0.5ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 5
  State Load (0.6ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 6
   (0.6ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 6
  State Load (0.7ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 7
   (0.6ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 7
  State Load (0.7ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 8
   (0.6ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 8
  State Load (0.6ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` = 9
   (0.5ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 9
          </code></pre>
        </section>

        <section>
          <h2>Active Record</h2>
          <h3>Queries N+1</h3>
          <pre><code contenteditable>
  # @countries = Country.all
  @countries = Country.includes(:states)
          </code></pre>
        </section>

        <section class="big_section">
          <h2>Active Record</h2>
          <h3>Queries N+1</h3>
          <pre class="big_code"><code contenteditable>
Started GET "/" for 127.0.0.1 at 2012-11-26 23:11:49 -0300
Processing by CountriesController#index as HTML
  Country Load (0.4ms)  SELECT `countries`.* FROM `countries` 
  State Load (2.7ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` IN (1, 2, 3, 4, 5, 6, 7, 8, 9)
   (0.4ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 1
   (0.4ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 2
   (0.4ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 3
   (0.3ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 4
   (0.3ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 5
   (0.3ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 6
   (0.3ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 7
   (0.3ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 8
   (0.3ms)  SELECT COUNT(*) FROM `states` WHERE `states`.`country_id` = 9
          </code></pre>
        </section>

        <section>
          <h2>Active Record</h2>
          <h3>Queries N+1</h3>
          <pre><code contenteditable>
  # @countries = Country.all
  # @countries = Country.includes(:states)
  @countries = Country.includes(:states)
    .select('countries.*, count(states.id) as count_states')
    .joins('LEFT OUTER JOIN 
            states ON states.country_id = countries.id')
    .group('countries.id')
          </code></pre>
          <pre><code contenteditable>
&lt;!-- <%= country.states.count %></td> -->
<td><%= country.count_states %></td>
          </code></pre>
        </section>

        <section class="big_section">
          <h2>Active Record</h2>
          <h3>Queries N+1</h3>
          <pre class="big_code"><code contenteditable>
Started GET "/" for 127.0.0.1 at 2012-11-26 23:19:31 -0300
Processing by CountriesController#index as HTML
  Country Load (0.5ms)  SELECT countries.*, count(states.id) as count_states FROM `countries` LEFT OUTER JOIN states ON states.country_id = countries.id GROUP BY countries.id
  State Load (2.5ms)  SELECT `states`.* FROM `states` WHERE `states`.`country_id` IN (1, 2, 3, 4, 5, 6, 7, 8, 9)
          </code></pre>
        </section>

        <section>
          <h2>Active Record</h2>
          <h3>Queries N+1</h3>
          <h4>Bullet <a href="http://github.com/flyerhzm/bullet">github.com/flyerhzm/bullet</a></h4>
          PONER UN PANTALLAZO CON BULLET
          <img class="fragment" width="80%" height="40%" src="images/11.png">
        </section>

        <section>
          <h2>Active Record</h2>
          <h3>Indices</h3>
          <pre><code contenteditable class="ruby">
  add_index :countries, [:name]
  add_index :states, [:country_id, :name]
          </code></pre>
          <div class="fragment">
            <h4>Foreigner <a href="https://github.com/matthuhiggins/foreigner">github.com/matthuhiggins/foreigner</a></h4>
            <h4>Immigrant <a href="https://github.com/jenseng/immigrant">github.com/jenseng/immigrant</a></h4>
          </div>
        </section>

        <section>
          <h2>Active Record</h2>
          <h3>Orden Importa</h3>
          <pre><code contenteditable class="ruby">
  State.where('country_id = ? and name like ?', id, "%#{name}%")
  # No es lo mismo que...
  State.where('name like ? and country_id = ?', "%#{name}%", id)
          </code></pre>
          <pre class="fragment"><code contenteditable class="ruby">
  add_index :states, [:country_id, :name]
  # No es lo mismo que...
  add_index :states, [:name, :country_id]
          </code></pre>
        </section>

        <section>
          <h2>Active Record</h2>
          <h3>Orden Importa</h3>
          <pre><code contenteditable>
> State.select('count(distinct country_id), count(distinct name)')

+----------------------------+----------------------+
| count(distinct country_id) | count(distinct name) |
+----------------------------+----------------------+
| 221                        | 3704                 |
+----------------------------+----------------------+
1 row in set
          </code></pre>
        </section>
<!--
  -  SECCION CACHING
 -->
        <section>
          <h2>Caching</h2>
          <h3>SQL Caching</h3>
          <pre><code contenteditable>
    @countries = Rails.cache.fetch('sql_countries') do
      Country.all_states_and_counts_included.all
    end
          </code></pre>
        </section>

        <section>
          <h2>Caching</h2>
          <h3>Page Caching</h3>
          <pre><code contenteditable>
  class CountriesController &lt; ApplicationController

    caches_page :index
          </code></pre>
          <img class="fragment" width="40%" height="40%" src="images/7.png">
        </section>

        <section>
          <h2>Caching</h2>
          <h3>Action Caching</h3>
          <pre><code contenteditable>
  class CountriesController &lt; ApplicationController
    
    caches_action :index
          </code></pre>
          <img class="fragment" width="80%" height="40%" src="images/11.png">
        </section>

        <section>
          <h2>Caching</h2>
          <h3>Fragment Caching</h3>
          <pre><code contenteditable>
<% cache :recent_countries do %>
  &lt;div>
    &lt;strong>Últimos Países modificados&lt;/strong>
    &lt;ul>
      &lt;% @recent_countries.each do |c| %>
        &lt;li>&lt;%= link_to c.name, c %>&lt;/li>
      &lt;% end%>
    &lt;/ul>
  &lt;/div>
<% end %>
          </code></pre>
          <h4 class="fragment">
            Cache Digests <a href="https://github.com/rails/cache_digests">github.com/rails/cache_digests</a>
          </h4>
        </section>

        <section>
          <h2>Caching</h2>
          <h3>Renovar Cache</h3>
          <pre><code contenteditable>
    def create
      @country = Country.new(params[:country])
      if @country.save
        expire_page :action => :index
        expire_action :action => :index
        expire_fragment :action => :index
        redirect_to @country
      else
        render action: "new"
      end
    end
          </code></pre>
        </section>

        <section>
          <h2>Caching</h2>
          <h3>Sweepers</h3>
          <pre><code contenteditable>
  class CountrySweeper < ActionController::Caching::Sweeper
    observe Country

    def after_create(country)
      expire_cache_for(country)
    end
   
    def after_update(country)
      expire_cache_for(country)
    end
   
    def after_destroy(country)
      expire_cache_for(country)
    end
   
    private
    def expire_cache_for(country)
      expire_page(:controller => 'countries', :action => 'index')
    end
  end
          </code></pre>
        </section>

        <section>
          <h2>Caching</h2>
          <h3>Sweepers</h3>
          <pre><code contenteditable class="ruby">
  class CountriesController &lt; ApplicationController
    
    caches_page :index
    cache_sweeper :country_sweeper
          </code></pre>
        </section>

        <section>
          <h1>¿Preguntas?</h1>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: false,
        history: true,
        center: false,
        rollingLinks: false,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
